<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="musiques">
      <ion-icon aria-hidden="true" name="musical-notes-outline"></ion-icon>
      <ion-label>Musique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tendences">
      <ion-icon aria-hidden="true" name="flame-outline"></ion-icon>
      <ion-label>Tendences</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favories">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>Favo</ion-label>
    </ion-tab-button>


    <!-- <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true" name="sparkles-outline"></ion-icon>
      <ion-label>Stars</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="tab5">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
